[submodule "src/test/resources/legend-engine/legend-engine"]
	path = src/test/resources/legend-engine/legend-engine
	url = git@github.com:finos/legend-engine.git
[submodule "src/test/resources/neo4j/neo4j"]
	path = src/test/resources/neo4j/neo4j
	url = git@github.com:neo4j/neo4j.git
[submodule "src/test/resources/arthas/arthas"]
	path = src/test/resources/arthas/arthas
	url = git@github.com:alibaba/arthas.git
[submodule "src/test/resources/persistence/persistence"]
	path = src/test/resources/persistence/persistence
	url = git@github.com:jakartaee/persistence.git
[submodule "src/test/resources/sling-maven/sling-maven"]
	path = src/test/resources/sling-maven/sling-maven
	url = git@github.com:apache/sling-slingfeature-maven-plugin.git
[submodule "src/test/resources/karaf/karaf"]
	path = src/test/resources/karaf/karaf
	url = git@github.com:apache/karaf.git
[submodule "src/test/resources/bnd/bnd"]
	path = src/test/resources/bnd/bnd
	url = git@github.com:bndtools/bnd.git
